// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league-links {
  display: flex;
  justify-content: left;

  a {
    margin-right: 10px;
  }
}

.filter-param {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.form-control {
  margin-left: 10px;
}
