// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// VARS

$blue: #0000FF;
$black: black;
$white: white;

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: #0000EE;
  }
}

ul, ol {
  margin: 0;
}

#roundTab {
  background-color: $black;
  color: $white;

  a {
    color: $white;
  }

  .active {
    color: $black;
  }

  .nav-link {
    border-radius: 0;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 50px;

  a {
    &:link, &:visited, &:hover, &:active {
      color: #FFF;
      text-decoration: none;
    }
  }
}

a {
  text-decoration: none;
}

.logo {
  margin-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  list-style: none;
  margin-right: 20px;
}

.content-container {
  padding: 30px 0;
  width: 80vw;
}

.page-heading {
  margin-bottom: 30px;
}

table {
  width: 100%;
  text-align: left;
  margin: 0;
  box-sizing: border-box;

  thead tr {
    background-color: $black;
    color: $white;

    th {
      padding: 5px;
    }
  }
}

section {
  margin-bottom: 20px;
}
